flask>=3.0.0
pytesseract>=0.3.10
pymupdf>=1.23.0
langdetect>=1.0.9
pdfplumber>=0.10.2
python-hunspell>=0.5.5  # Changed from hunspell to python-hunspell
python-bidi>=0.4.2
arabic-reshaper>=3.0.0
Pillow>=10.0.0
fpdf2>=2.7.0
reportlab>=4.0.0
gunicorn>=21.2.0
python-dotenv>=1.0.0
flask-limiter>=3.5.0